@model IEnumerable<CRUD_Sklep.Models.ShopingCart>

@{
    ViewData["Title"] = "ListCart";
}

<h1>ListCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var iterable = 0;
        }
@foreach (var item in Model) {
            @if(1 == 1){
                iterable += 1;
            }
            <tr>
            <td>
                    @Html.DisplayFor(modelItem => iterable)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="ShoppingCart" asp-for="id">
                        <button type="submit" name="id" value="@item.Id" class="buttonInListCart">Edit</button>
                    </a>
                    <form method="post" asp-action="Delete" asp-controller="ShoppingCart" asp-for="id">
                        <button type="submit" name="id" value="@item.Id" class="buttonInListCart">Delete</button>
                    </form>
               
            </td>
        </tr>
}
    </tbody>
</table>
