@model IEnumerable<CRUD_Sklep.Models.Product>
@{
    bool y = false;
}
@{
    ViewData["Title"] = "ListProducts";
}
@*

*@
<div id="items">
    @foreach (var item in Model) {
        @if (item.Amount > 0)
        {
            y = true;
        }
        else
        {
            y = false;

        }
    <div class="wine">
            <img class="item-wine" src="https://www.euro-wino.pl/images/-------------------=przezroczyste%201.png">
        <div class="info">
            <p class="type-wine">
                    <a asp-action="Details" asp-route-id="@item.Id" style="color:white;">
                         @item.Name
                    </a> 
                </p>
                <p class="type-wine">@item.Price $</p>
                <p class="type-wine">
               <form asp-controller="ShoppingCart" asp-action="AddToKoszyk" method="post">
                        @if (y == false)
                        {
                            <p color="red">Out of stock!</p>

                        }
                        else
                        {
                            <p style="font-size:11px;">Stock: @item.Amount</p>
                            <input type="number" name="amount" value="1" style="text-align:center; width: 50px;" />
                            <button type="submit" name="id" value="@item.Id">Add To Cart</button>
                        }
            </form>
        </div>
    </div>
    }
    <div id="StaticDiv">
        <a asp-controller="Home" asp-action="AddProdcuts">
            <button style="background-color:#2E0B36">Dodaj Produkt</button>
        </a>
    </div>
</div>
</table>
